{{define "header"}}<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="#375EAB">
	<title>Secret Smash™</title>
	<!--<link type="text/css" rel="stylesheet" href="/static/css/style.css">-->
<style>
body{
  color: green;
  background-color:   #E0EBF5;
}
.box {
border: 1px solid black;
min-width: 100px;
margin: 10px;
float: left;
clear: none;
padding: 10px;
}



</style>

<body>
	<a href="/login">[login]</a>
	<a href="/forum">[forum]</a>
	<a href="/logout">[logout]</a>
	<a href="/dashboard">[dashboard]</a>
	<a href="/testing">[testing]</a>
	<a href="/">[home]</a>
	{{end}}
